/*Reset CSS*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}



/* ----------- GENERAL ----------- */

/* définir les polices utilisées et le background */

body 				  { font-family: 	  'Cookie', cursive;
						font-family: 	  'Varela Round', sans-serif;
						background-color: #FFF;
						color:			  #6F5F99;}


/* contrer les comportement automatiques de li, ul... */

* 					  { margin: 		  0;
						padding: 		  0;
						color:			  #6F5F99;
						text-decoration:  none;
						outline: 		  none;
						border:			  none; }

li 					  { list-style: none;
						display: block; }


/* Nettoyer les floats */
/*à appeler à la fin d'une liste de float */

.clearfix 			  { clear: 			  both; }




















/* ----------- SET UP ----------- */


.wrap, .wrapBig		  { margin:			  0 auto;
						position: 		  relative; }

.wrap	 			  { max-width: 	      920px;
                        width:            100%; }
.wrapBig	 		  { width: 			  960px; }

.wrapBig h6           { padding-left:     20px; }

.bloc, .blocBig		  { margin: 		  20px;
						float: 			  left; }

.bloc33	 			  { width: 			  280px;
                        height: 		  270px;
						background-color: #F4E8D9; }

.bloc25               { width: 200px;
                        height: 260px; }

.bloc25 .bottomBloc   { padding-top: 10px; }

.bloc25 h3            { display: block; }

.blocBig	 		  { height: 		  540px;
						padding: 		  20px 0;
						background-color: #9E005D;
                        width: 280px; }



.wrap li,
input		  		  { width: 			  auto;
						height: 		  40px;
						padding:		  0 20px;
						line-height: 	  40px;
						border-radius:	  20px;
						font-size: 		  16px; }


li					  {	text-align: 	  center; }


.c50                  { width: 49.5%;
                        display: inline-block;
                        vertical-align: top;
                        margin-bottom: 40px; }


.frame_pink           { background-color: #F4E8D9; }


.button               { line-height: normal;
                        display: block;
                        cursor: pointer; }


.btn_type3            { background-color: #ED1E79;
                        color: #ffffff;
                        width: 60%;
                        margin-left: auto;
                        margin-right: auto; }
.btn_type3:hover      { background-color: #CE006C; }









/* ----------- HEADER ----------- */



header 			  	  { height:           160px;
						background-color: #FFF; }



#logo				  { height:			  200px;
						width:			  320px;
						margin-top:		  -40px;
                        margin-left:      auto;
                        margin-right:     auto;
						position:		  relative;
						z-index:  		  1;
						background-image: url(img/resources/logo.png); }					


/* navigation */


header li			  { background-color: #F4E8D9; }
header li:hover		  { background-color: #EDDCCC; }

nav                   { z-index:          2;
                        position:         relative;
                        padding-top:      60px; }

nav #add	 	 	  { float: 			  left; }

nav #contact	 	  { float: 			  right; }

nav #question	 	  { padding: 		  0 17px !important;
						margin-left:	  20px; 
						float: 			  right; }











/* ----------- FRONT COVER ----------- */



#cover 			  	  { width:			  100%;
						height:			  360px;
						position:		  relative;
						background: 	  url(img/illunoel.jpg) no-repeat center center;
  						-webkit-background-size: cover;
						-moz-background-size: cover;
						-o-background-size: cover;
						background-size: cover; }



#search				  { position: 		  absolute;
						bottom:	  		  40px; }


input#keyword		  { width: 			  731px;
                        border: 1px solid #DDD; }

input#submit		  { margin-left: 	  20px;
						color: 			  #FFF;
						background-color: #6F5F99;
						cursor: 		  pointer; }

input#submit:hover	  { background-color: #574F84; }









/* ----------- PRESENTATION ----------- */



#presentation 	  	  { width:			  100%;
						height:			  auto;
						padding: 		  40px 0;
						margin-bottom: 	  20px;
						position:		  relative;
						background-color: #F4E8D9; }

.catHeader            { height: 80px; }


.catHeader p          { color: #6F5F99;
                        display: inline-block;
                        width: 786px;
                        padding-left: 20px;
                        vertical-align: top;
                        text-align: left; }








/* ----------- CATEGORY ----------- */


footer 				  { height: 		  auto;
						width: 			  100%;
						margin-top:       20px;
						padding: 		  40px 0;
						text-align: 	  center;
						background-color: #E6E6E6; }









/* ----------- CATEGORY ----------- */


.blocBig h5,
.blocBig h1		  	  { padding: 		  0 20px;
						color: 			  #FFF;
						text-align: 	  center; }

.blocBig ul		  	  { margin: 		  10px; }

.blocBig li		  	  { margin: 		  10px;
						color: 			  #FFF;
						float: 			  left; }

.blocBig img	  	  { height: 		  80px;
						width: 			  110px; }











/* ----------- VIDEOS ----------- */



.bloc img		  	  { width:			  100%;
						height:			  160px; }


.bloc .informations	  { height:			  70px;
						padding: 		  15px 20px 20px 20px;
						position: 		  relative; }

.bloc33 h3		  	  { display: 		  inline;
						cursor: 		  pointer; }

.bloc h3:hover 		 { color: #574F84; }


.bloc h4		  	  { display: 		  inline; }


.bloc legend	 	  { position: 		  absolute;
						left: 			  20px;
						bottom: 		  20px;
						line-height: 	  14px;}

.bloc .views	 	  { position: 		  absolute;
						right: 			  20px;
						bottom: 		  20px;
						line-height: 	  14px;}



/* ----------- PLAYER VIDEO ----------- */

.player .bottomBloc    { background-color: #F4E8D9; }


.player .title         { width: 50%;
                        display: inline-flex;
                        padding: 20px; }

.player .like          { float: right;
                        display: -webkit-inline-box;
                        padding: 20px; }









/* ----------- PAROLES ----------- */

.paroles              { text-align: center;
                        margin: 20px 30px;
                        border-bottom: 1px solid #DDD; }







/* ----------- COMMENTAIRES ----------- */

#disqus_thread        { padding-top: 20px; }








/* ----------- FOOTER ----------- */


footer 				  { height: 		  auto;
						width: 			  100%;
						margin-top:       20px;
						padding: 		  40px 0;
						text-align: 	  center;
						background-color: #E6E6E6; }







/* ----------- FORMULAIRE ----------- */


.field                { padding: 10px 40px;
                        height: 40px; }


label                 { vertical-align: -webkit-baseline-middle; }


.input                { float: right;
                        width: 60%;
                        height: 40px;
                        padding: 0 20px;
                        line-height: 40px;
                        border-radius: 20px;
                        font-size: 16px;}


select.input          { height: 40px;
                        background-color: white;
                        color: #BBB;
                        border-radius: 20px;
                        padding: 0 10px;
                        width: 70%; }


input.fichier         { display: -webkit-inline-box; }


.fileUpload           { position: relative;
                        overflow: hidden;
                        background-color: #6F5F99;
                        width: 45%;
                        color: white;
                        height: 20px;
                        padding: 10px;
                        border-radius: 20px;
                        text-align: center;
                        display: inline-block; }


.fileUpload span      { color: white;
                        vertical-align: text-bottom; }


.fileUpload input.upload { position: absolute;
                        top: 0;
                        right: 0;
                        margin: 0;
                        padding: 0;
                        font-size: 20px;
                        cursor: pointer;
                        opacity: 0;
                        filter: alpha(opacity=0); }


label#paroles         { vertical-align: top;
                        padding-top: 10px; }





#upload_cover 		  { width:			  100%;
                        height:			  240px;
                        position:		  relative;
                        background: 	  url(img/illunoel.jpg) no-repeat center center;
                        -webkit-background-size: cover;
                        -moz-background-size: cover;
                        -o-background-size: cover;
                        background-size: cover; }


.upload_text          { position: absolute;
                        z-index: 2;
                        top: 30px;
                        left: 30px;
                        width: 200px; }


#ajout_form           { padding: 30px 0 40px 0; }


#uploadFile           { color: #777;
                        background-color: transparent;
                        padding: 0;
                        width: 100%; }






/* ----------- EQUIPE ----------- */

#team_cover 		  { width:			  100%;
                        height:			  480px;
                        position:		  relative;
                        background: 	  url(img/illunoel.jpg) no-repeat center center;
                        -webkit-background-size: cover;
                        -moz-background-size: cover;
                        -o-background-size: cover;
                        background-size: cover; }


.team_padding         { padding: 40px 0; }


.wrap .team_list      { text-align: left;
                        padding-left: 0;
                        display: list-item;
                        list-style-type: disc;
                        list-style-position: inside;
                        color: black; }






/*** TYPO ***/


h1 	 			 	  { font-family: 	  'Cookie', cursive;
						font-size: 		  30px;
						line-height: 	  35px; }


h2 	 			 	  { font-size: 		  16px;
						line-height: 	  20px;
						color:			  #6F5F99; }


h3 	 			 	  { font-size: 		  14px;
						line-height: 	  20px;
						color:			  #6F5F99; }


legend,
h4 	 			 	  { font-size: 		  14px;
						line-height: 	  20px;
						color: 			  #999; }


h5 	 			 	  { font-family: 	  'Cookie', cursive;
						font-size: 		  25px;
						line-height: 	  30px; }

h6 	 			 	  { font-family: 	  'Cookie', cursive;
                        font-size: 		  25px;
                        line-height: 	  30px;
                        color:            #ED1E79; }


p 	 			 	  { font-size: 		  16px;
						line-height: 	  20px;
						color:			  #333;
                        padding-top: 20px;
                        text-align: justify; }



















/* COLORS */


/* blanc */

{ color: #FFF; }
{ background-color: #F4E8D9; }
{ background-color: #EDDCCC; }


/* light grey */

{ color: #CCC; }


/* grey */

{ color: #999; }


/* violet */

{ color: #6F5F99; }
{ background-color: #6F5F99; }
{ background-color: #574F84; }


/* rose */

{ color: #ED1E79; }
.pink_bg { background-color: #ED1E79; }
.pink_bg:hover { background-color: #CE006C; }


